.navbar {
	width: 100vw;
}

.navbar li a {
	padding: 5px 10px;
	margin: 0 3px;
	font-size: 18px;
}

#section-home {
	height: auto;
	padding-top: 65px;
}
#section-home .v-btn {
	margin-top: 15px;
}

#section-projects {
	height: auto;
}

.title-header {
	font-size: 16px;
}

.card {
	font-size: 16px;
}

.links {
	flex-direction: column;
}

#section-about {
	justify-content: space-around;
}

#section-about .about {
	font-size: 20px;
	/* align-self: center; */
}

.flex-grid .column {
	flex: 100%;
	max-width: 100%;
}

#section-contact .header {
	margin: 5px;
}
