:root {
	--primary-color: rgb(255, 255, 255);
	--secondery-color: rgb(231, 169, 183);
	--secondery-color_opcity: rgba(231, 169, 183, 0.7);
	--third-color: rgba(0, 0, 0, 0.8);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

section {
	width: 100vw;
	height: 100vh;
	padding: 20px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

ul {
	list-style: none;
}

a {
	color: var(--primary-color);
	font-weight: bold;
	text-decoration: none;
}

/* navbar */

.navbar ul {
	background: var(--secondery-color);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
	width: 100%;
	height: 10vh;
	position: fixed;
	top: 0px;
	padding: 0 30px;
	transition: 0.5s;
}

.navbar li a {
	color: var(--third-color);
	font-size: 22px;
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 15px;
}
.navbar li a:hover {
	border-bottom: 2px solid var(--third-color);
}

/* section home */

#section-home {
	padding-top: 40px;
	justify-content: space-around;
}

.header {
	color: var(--third-color);
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title-header {
	text-align: center;
	color: var(--third-color);
	font-weight: bold;
	font-size: 30px;
	padding: 20px;
}

.img img {
	/* height: 100px;
	width: 100px; */
	height: 135px;
	width: 140px;
	border-radius: 50%;
	margin-top: 6px;
	object-fit: cover;
}
.img {
	padding: 0 20px;
}

.card {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 30px;
	margin: 10px;
	background-color: var(--secondery-color);
	color: var(--primary-color);
	border-radius: 20px;
	font-size: 20px;
}

.bg-pink {
	background-color: var(--secondery-color);
	color: var(--primary-color);
	text-align: center;
}

.bg-white {
	background-color: var(--primary-color);
	color: var(--secondery-color);
}

.bg-white a {
	color: var(--secondery-color);
}

.links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.li_links {
	padding: 15px 20px;
	max-width: 300px;
	border: 4px solid;
}

.li_links a {
	margin: 10px;
}

.v-btn i {
	color: var(--third-color);
	font-size: 33px;
	margin-bottom: 20px;
	display: inline-block;
	transform: translateY(0);
	animation: v-btn_animation 1.5s infinite linear;
}

@keyframes v-btn_animation {
	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-25px);
	}
}

/* Section about */

.bg-pink .about {
	font-size: 20px;
	max-width: 530px;
	height: 25vh;
	/* padding: 30px; */
	text-align: center;
	font-size: 26px;
}

.btn-cv {
	border: 1px solid var(--third-color);
	color: var(--third-color);
	border-radius: 5px;
	padding: 10px 30px;
	margin-top: 20px;
	font-size: 18px;
	margin-bottom: 40px;
	display: inline-block;
}

.btn-cv:hover {
	color: var(--primary-color);
	background-color: var(--third-color);
}

#section-about {
	justify-content: center;
}

/* #section-about .card {
	max-width: 530px;
	height: 50vh;
	padding: 30px;
	text-align: center;
	font-size: 26px;
} */

/* Section projects */

#section-projects .title-header {
	margin-top: 20px;
}

#section-projects img {
	/* width: 100%; */
	width: 12rem;
	height: 200px;
	object-fit: cover;
}

#section-projects img:hover {
	opacity: 0.7;
}

.flex-grid .row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	justify-content: center;
	margin-bottom: 20px;
}

.flex-grid .column {
	flex: 50%;
	min-width: 33.3%;
	padding: 0 4px;
}

.flex-grid .card {
	padding: 15px 17px;
}

/* Section Contact */

#section-contact .header {
	margin: auto;
	max-width: 1100px;
	/* overflow: auto; */
	padding: 0 20px;
}

form {
	width: 35vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--third-color);
	/* background-color: var(--primary-color); */
}
#section-contact .form-group {
	margin-bottom: 20px;
	width: 100%;
}

#section-contact label {
	display: block;
	font-size: 20px;
	margin-bottom: 5px;
}

#section-contact input,
#section-contact textarea {
	width: 100%;
	/* padding: 10px 200px; */
	border: 1px #ddd solid;
}

#section-contact input {
	height: 30px;
}
#section-contact textarea {
	height: 200px;
}

.btn {
	display: inline-block;
	font-size: 18px;
	color: #fff;
	background: #333;
	padding: 13px 20px;
	border: none;
	cursor: pointer;
}

.btn:hover {
	background: var(--secondery-color_opcity);
	color: #333;
}

#section-contact input:focus,
#section-contact textarea:focus {
	outline: none;
	border-color: var(--secondery-color);
}
